<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.BlogMapper">
    <!--修改博客-->
    <update id="update">
        update blog
        <set>
            <if test="blogId != null ">
            blog_id = #{blogId},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="tag != null and tag != ''">
                tag = #{tag},
            </if>
            <if test="isPrivate != null ">
                isPrivate = #{isPrivate},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where blog_id = #{blogId}

    </update>
    <!--批量删除-->
    <delete id="delete">
        delete
        from blog
        where blog_id in
        <foreach collection="ids" item="blogId" separator="," open="(" close=")">
            #{blogId}
        </foreach>
    </delete>
    <!--搜索查询-->
    <select id="list" resultType="com.blog.pojo.Blog">
        select *
        from blog
        <where>
            <if test="title != null and title != ''">
                title like concat('%', #{title}, '%')
            </if>
            <if test="authorId !=null">
                author_id like concat('%', #{authorId}, '%')
            </if>
            <if test="tag != null and tag != ''">
            tag like concat('%', #{tag}, '%')
            </if>
        </where>
        order by update_time desc
    </select>
</mapper>